<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.berry.cmd.dao.MusicMapper">
  <resultMap id="BaseResultMap" type="com.berry.cmd.po.Music">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="keyid" jdbcType="INTEGER" property="keyid" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="author" jdbcType="VARCHAR" property="author" />
    <result column="pub_date" jdbcType="DATE" property="pubDate" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    keyid, name, author, pub_date
  </sql>
</mapper>